.bg-prink {
    background-color: #fff4f4;
}

.bg-catkrill {
    background-color: #eef5fa;
}

.linkedin {
    color: #144679;
}

.github {
    color: #1c9cea;
}

.email {
    color: #6ab5b9;
}

.phone {
    color: #e93b81;
}

.location {
    color: #fd7590;
}

.birthday {
    color:  #C17CEB;
}
