@import '/src/assets/scss/variables.scss';

.layout-wrapper {
    background-image: url(../../assets/cool-background.png);
    background-position: 50%;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 50px;
}

.layout {
    gap: 20px;
    display: grid;
    min-height: 100%;
    flex-direction: column;
    grid-template-rows: auto;
    grid-template-columns: minmax(min-content, 300px) auto auto;
    grid-template-areas: 'top-header top-header top-header' 'info main header' 'info main header';
}

.top-header {
    margin-bottom: 130px;

    img {
        max-height: 90px;
        max-width: 90px;
    }
}

.header {
    grid-area: header;
    position: relative;

    margin: 0;
    padding: 0 !important;

    .navbar-brand {
        position: relative;
        padding: 30px 20px;
        background-color: $white;
        border-radius: 15px;
        margin: 0;
    }

    .navbar-nav {
        flex-direction: column !important;
        background-color: $white;
        border-radius: 15px;
        padding: 1rem;
        gap: 1rem;
        position: sticky;
        top: 0;

        .nav-item {
            background-color: $light-white;
            border-radius: 15px;
            width: 75px;
            height: 80px;
            transition: 0.3s;
            overflow: hidden;
            cursor: pointer;

            .nav-link {
                height: 100%;
                display: flex;
                padding: 0;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            span {
                font-size: 13px;
                display: block;
            }

            i {
                font-size: 1.5rem;
            }

            &:hover,
            &:has(.active) {
                span,
                i {
                    color: $text-color !important;
                }
                font-weight: bold;
                background-color: $primary;
            }
        }
    }
}

.info {
    grid-area: info;
    position: relative;
}

.content-wrapper {
    > section {
        padding-bottom: 2rem;
    }

    grid-area: main;
    position: relative;
    background: $white;
    border-radius: 15px;
    overflow: hidden;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0.8rem;
    padding-block: 1rem;
    background: $light-white-2;
}

@media (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
    .layout-wrapper {
        padding: 0;
    }

    .layout {
        margin: 0;
        padding: 0 !important;
        grid-template-rows: auto;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        grid-template-areas: 'top-header' 'info' 'header' 'main';
    }

    .header {
        overflow: auto;
        border-radius: 15px;
        background-color: $white;
        top: 0;
        position: sticky !important;

        &::-webkit-scrollbar {
            display: none;
        }

        .navbar-nav {
            flex: 1;
            gap: 0.5rem;
            padding: 0.5rem;
            justify-content: center !important;
            flex-direction: row !important;

            .nav-item {
                width: auto;
                height: auto;

                .nav-link {
                    flex-direction: row;
                    border-radius: 10px;
                    padding: 0.5rem 1rem;
                    gap: 0.5rem;
                }
            }
        }
    }
}
