@import '../../assets/scss/variables.scss';

.contact-form {
    padding: 4rem 3rem;
    border-radius: 1rem;
    background-color: $light-white-2;

    .contact-title {
        font-size: 1.5rem;
        font-weight: 400;
        color: $text-color;
        line-height: 2rem;
        text-transform: capitalize;
    }

    .contact-title-b {
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: lowercase;
        margin-bottom: 3rem;
    }
}
